<div class='form-group'>
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-1">
            <a href="{% url 'cargos:reporte_cargo_excel' %}" class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </div>
        <div class="col-lg-1">
            <a href="{% url 'cargo:reporte_cargo_pdf' %}" class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-file"></span>
            </a>
        </div>
    </div>
</div>