{% extends "base/base.html" %}
{% load link_to %}

{% block title %}
    Crear cargo
{% endblock title %}

{% block newItemNavbar %}
	<li class="active">
		{% link_to namespace='cargo' url_name='index_cargo' text='Cargo' icon_class='material-icons left' icon='perm_identity' %}
	</li>
{% endblock newItemNavbar %}

{% block header %}

{% endblock header %}

{% block content %}
	<form action="." method='post'>{% csrf_token %}
		<div class="input-field col l12">
			{{ form.nombre_cargo }}
			<label for="name">{{ form.nombre_cargo.label }}</label>
		</div>

		<div class="input-field col l12">
			{{ form.descripcion }}
			<label for="{{ form.descripcion.nombre_cargo }}">{{ form.descripcion.label }}</label>
		</div>
        <div class="input-field col l12">
			{{ form.t_material }}
			<label for="{{ form.t_material.nombre_cargo }}">{{ form.t_material.label }}</label>
		</div>
        <div class="input-field col l12">
			{{ form.tipo_activo }}
			<label for="{{ form.tipo_activo.nombre_cargo }}">{{ form.tipo_activo.label }}</label>
		</div>
        <div class="input-field col l12">
			{{ form.inventario }}
			<label for="{{ form.inventario.nombre_cargo }}">{{ form.inventario.label }}</label>
		</div>


		<div class="col l12">
			<br>
			<button class="btn waves-effect waves-light" type="submit" name="action">{% block action %}Crear cargo{% endblock action %}
				<i class="material-icons right">send</i>
			</button>
		</div>

	</form>
{% endblock content %}
