{% extends "base/base.html" %}
@section('titulo')
    Inicio InvenFip
    @endsection
    @section('content')
    <!-- START THE FEATURETTES -->
<section>
            <div class="col s12 m12">
                 <div class="slider">
                     <ul class="slides">
                         <li><img src="{% static 'images/presentacion.jpg' %}"> <!-- random image -->
                             <div class="caption center-align">
                                 <h3></h3>
                                 <h5 class="light grey-text text-lighten-3"></h5>
                             </div>
                         </li>
                         <li><img src="{% static 'images/educacion.jpg' %}"> <!-- random image -->
                             <div class="caption center-align">
                                 <h3></h3>
                                 <h5 class="light grey-text text-lighten-3"></h5>
                             </div>
                         </li>
                         <li><img src="{% static 'images/proceso_de_paz.jpg' %}"> <!-- random image -->
                             <div class="caption left-align"><h3></h3>
                                 <h5 class="light grey-text text-lighten-3"></h5>
                             </div>
                         </li>
                         <li><img src="{% static 'images/Graduados.jpg' %}"> <!-- random image -->
                             <div class="caption right-align"><h3></h3>
                                 <h5 class="light grey-text text-lighten-3"></h5>
                             </div>
                         </li>
                     </ul>
                 </div>
            </div>
        </div>
    </section>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 align="center" class="featurette-heading">Mision</h2>
            <p align="justify" class="lead">
                </p>
        </div>
        <div class="col-md-5">
            <!-- <img class="featurette-image img-responsive center-block" src="img/servicio.png" alt="Generic placeholder image">-->
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2  align="center" class="featurette-heading">VIS&Iacute;ON</h2>
            <p align="justify" class="lead"></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <!--  <img class="featurette-image img-responsive center-block" src="img/servicio2.png" alt="Generic placeholder image">-->
         </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
         <div class="col-md-7">
             <h2  align="center" class="featurette-heading">Quienes somos</h2>
             <p align="justify" class="lead"></p>
         </div>
         <div class="col-md-5">
             <!-- <img class="featurette-image img-responsive center-block" src="img/servicio3.png" alt="Generic placeholder image">-->
          </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    @endsection






