{% extends "base/base.html" %}
{% load link_to %}

{% block title %}
    Crear activo
{% endblock title %}

{% block newItemNavbar %}
	<li class="active">
		{% link_to namespace='activo' url_name='create_activo' text='activo' icon_class='material-icons left' icon='perm_identity' %}
	</li>
{% endblock newItemNavbar %}

{% block header %}

{% endblock header %}

{% block content %}
  <form action="{% url 'create_activo' %}" method="post" style="position:absolute">
 <div class="input-field col l12">
			{{ activo.nombre_activo }}
			<label for="name">{{ activo.nombre_activo.label }}</label>
		</div>
		<div class="input-field col l12">
			{{ activo.precio_activo }}
			<label for="{{ activo.precio_activo.nombre_activo }}">{{ activo.precio_activo.label }}</label>
		</div>


        <div class="input-field col l12">
			{{ activo.fecha}}
			<label for="{{ activo.fecha.nombre_activo }}">{{ activo.fecha.label }}</label>
		</div>


		<div class="col l12">
			<button id="crear" class="btn waves-effect waves-light" type="submit" name="action">{% block action %}Crear Cargo{% endblock action %}
				<i class="material-icons right">send</i>
			</button>
		</div>

  </form>
{% endblock content %}